@model IEnumerable<CarMarket.Models.Cars>
@{
    ViewData["Title"] = "Список машин";
}

    <h3>Машины</h3>
    <table class="table-condensed">
        <tr>
            <td>Модель</td>
            <td>Производитель</td>
            <td>Цена</td>
            <td></td>
        </tr>
        @foreach (var cars in Model)
        {
            <tr>
                <td>@cars.Name</td>
                <td>@cars.Marks</td>
                <td>@cars.Price</td>
                <td><a href="~/Home/Buy/@cars.Id">Купить</a></td>
            </tr>
        }
    </table>

